@import '../../../styles/mixins.scss';
@import '../../../styles/mediaQueries.scss';

.note_container {
	display: flex;
	justify-content: center;
	padding: 2.4rem;
	background-color: var(--background-secondary);

	@include respondH(550) {
		padding: 1.6rem;
		margin-left: calc(var(--app-horizontal-padding) * -1);
		margin-right: calc(var(--app-horizontal-padding) * -1);
	}
}

.note {
	@include panel;
	width: 100%;
	max-width: 68rem;
}

.note_header {
	display: flex;
	justify-content: space-between;
	border-bottom: var(--border-primary);
	padding: 1.6rem 2.4rem;
	font-size: 1.2rem;

	@include respondH(550) {
		padding: 1.6rem;
	}
}

.note_body {
	padding: 2.4rem 2.4rem;
	min-height: 64rem;

	@include respondH(550) {
		padding: 1.6rem;
		min-height: 40rem;
	}
}
