.btn {
	height: 4.8rem;
	width: 100%;
	border-radius: var(--border-radius);
	margin-bottom: 2.4rem;
	padding: 0 1.6rem;
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	font-size: 1.4rem;

	cursor: pointer;
}

.btn:focus {
	outline-color: var(--text400);
}

.btn_primary {
	@extend .btn;
	background-color: var(--primary500);
	border: 1px solid var(--primary500);
	color: var(--white);

	&:hover {
		border: 1px solid var(--primary400);
		background-color: var(--primary400);
	}
}

.btn_outline {
	@extend .btn;
	background-color: transparent;
	border: var(--border-primary);
	color: var(--text300);

	&:hover {
		background-color: var(--gray200);
		border: 1px solid var(--gray200);
	}
}

.btn_link {
	background: none;
	border: none;
	font-weight: 500;
	font-size: inherit;
}

.btn_link_gray {
	@extend .btn_link;
	color: var(--text300);
	font-size: 1.4rem;

	&:hover {
		color: var(--primary400);
	}
}

.btn_link_primary {
	@extend .btn_link;
	color: var(--primary500);

	&:hover {
		color: var(--primary400);
	}
}

.btn_delete {
	@extend .btn;
	background-color: transparent;
	color: var(--red-error);
	border: 1px solid var(--red-error);

	&:hover {
		background-color: var(--red-error);
		color: var(--white);
	}
}
