.container {
	width: 100%;
	max-width: 100%;
	margin-bottom: .8rem;
	overflow: hidden;
}

.input {
	width: 100%;
	height: 4rem;
	border-radius: var(--border-radius);
	padding: .8rem;
	border: var(--border-primary);
	background-color: var(--background-secondary);
	font-size: inherit;
	font-family: inherit;
	margin-bottom: .8rem;
}
