.wrapper {
	width: 100%;
}

.container {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
	padding: .8rem;
}

.overflow_left {
	left: 0;
}

.overflow_right {
	right: 0;
}

.overflow_left,
.overflow_right {
	height: calc(100% - 1.6rem);
	width: 4.8rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--transparent-light);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	border: none;
	color: var(--white);
}

.overflow_left:hover,
.overflow_right:hover {
	background-color: var(--transparent-dark);
}

.overflow_hidden {
	display: none;
}
