@import '../../../../styles/mixins.scss';

.card {
	position: relative;
	padding: 1.6rem;
	height: 26.4rem;
	@include panel;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.title {
	font-weight: 600;
	color: var(--text400);
	margin-bottom: .4rem;
}

.title_container {
	max-width: 19.2rem;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.time {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	color: var(--text400);
	margin-bottom: .8rem;
	font-weight: 400;
}

.body {
	color: var(--text400);
	line-height: 1.7;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.stats {
	margin-top: auto;
}

.stat_row {
	display: flex;
	justify-content: space-between;

	color: var(--text400);
	font-weight: 400;
	font-size: 1.2rem;
}

.pinned {
	position: absolute;
	right: 1.6rem;
	top: 1.6rem;
	margin-left: auto;
	height: 1.6rem;
}
