@import '../../../../styles/mixins.scss';

.card {
	padding: 1.6rem;
	height: 26.4rem;
	@include panel;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.title {
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--text500);
	margin-bottom: .4rem;
}

.title_container {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.time {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	color: var(--text400);
	margin-bottom: .8rem;
	font-weight: 400;
}

.body {
	color: var(--text500);
	line-height: 1.7;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

.stats {
	margin-bottom: .4rem;
	display: flex;
	justify-content: space-between;
	color: var(--text300);
	font-weight: 400;
}

.pinned {
	margin-left: auto;
	height: 1.6rem;
}
