@import '../../../../styles/mediaQueries.scss';

.button_left,
.button_right {
	height: 100%;
	width: 7.4rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4rem;
	border: none;
	z-index: 5;

	@include respondH(1280) {
		width: 4rem;
	}

	@include respondH(768) {
		display: none;
	}

	& button {
		display: flex;
		justify-content: center;
		align-items: center;
		background: none;
		border: none;
		color: var(--white);
	}

	& svg {
		width: 3.6rem;
		height: 3.6rem;
		background-color: var(--gray300);
		border-radius: 50%;
		transition: all .2s;

		&:hover {
			background-color: var(--primary400);
		}
	}
}

.button_left {
	left: 0;
}

.button_right {
	right: 0;
}

.button_left:hover,
.button_right:hover {
	color: var(--primary400);
}

.button_hidden {
	display: none;
}

.slider_wrapper {
	width: 100%;
	transition: all .4s ease-out;
	display: grid;
	// handles initial spacing for first card
	grid-template-columns: 6.4rem;
	grid-auto-flow: column;
	grid-auto-columns: 24rem;
	grid-template-rows: 26.8rem;
	grid-gap: 1.6rem;

	padding-right: 1.6rem;

	@include respondH(1280) {
		grid-template-columns: 2.4rem;
	}

	@include respondH(768) {
		transition: all .3s ease-out;
		overflow-x: scroll;
	}

	@include respondH(550) {
		grid-template-columns: 0rem;
		transition: all .2s ease-out;
	}

	// handles initial spacing for first card
	&::before {
		content: '';
	}
}
