.overflow_left,
.overflow_right {
	height: 100%;
	width: 7.4rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4rem;
	border: none;

	z-index: 5;

	& button {
		display: flex;
		justify-content: center;
		align-items: center;
		background: none;
		border: none;
		color: var(--white);
	}

	& svg {
		width: 3.6rem;
		height: 3.6rem;
		background-color: var(--gray300);
		border-radius: 50%;

		&:hover {
			background-color: var(--primary400);
		}
	}
}

.overflow_left {
	left: 0;
}

.overflow_right {
	right: 0;
}

.overflow_left:hover,
.overflow_right:hover {
	color: var(--primary400);
}

.overflow_hidden {
	display: none;
}

.slider_wrapper {
	--slider-length: 50;

	width: 100%;
	transition: all .3s ease-out;
	display: grid;
	grid-template-columns: 5.6rem repeat(var(--slider-length), 24rem) 5.6rem;
	grid-template-rows: 26.8rem;
	grid-gap: 2.4rem;

	&::before,
	&::after {
		content: '';
	}
}
