.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4rem;
}

.btn_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 24rem;

	& button {
		max-width: 16rem;
		margin-bottom: 0;
	}
}
