.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4rem;

	& hgroup {
		& h1 {
			font-weight: 600;
		}

		& h4 {
			color: var(--gray300);
			font-weight: 500;
			line-height: 1;
		}
	}
}

.btn_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 24rem;

	& button {
		max-width: 16rem;
		margin-bottom: 0;
	}
}
