@import '../../../../styles/mediaQueries.scss';

.search_container {
}

.search {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 5.6rem;
	right: 2.4rem;
	height: 6.4rem;
	box-shadow: var(--box-shadow-wide);
	background-color: var(--background-primary);
	border-radius: var(--border-radius);
	border: var(--border-primary);
	width: 100%;
	max-width: 40rem;
	padding: 1.6rem;

	@include respondH(550) {
		z-index: 10;
		right: 0;
		max-width: 100%;
	}
}

.search_input {
	display: flex;
	flex: 1 1 auto;
	border: var(--border-primary);
	border-radius: var(--border-radius);
	overflow: hidden;

	& input,
	select {
		height: 3.2rem;
		background-color: var(--background-tertiary);
	}

	& select {
		border: none;
		border-right: var(--border-primary);
	}

	& input {
		border: none;
		width: 100%;
		min-width: 0;
		padding: .8rem;
	}
}

.search_toggle_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.2rem;
	width: 3.2rem;
	background: none;
	border: none;
	border-radius: var(--border-radius);
	color: var(--text300);
	box-sizing: content-box;
	font-size: 2rem;
}

.search_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.2rem;
	flex: 0 0 3.2rem;
	border: none;
	border-left: var(--border-primary);
	background-color: var(--primary500);
	color: var(--white);
	font-size: 2rem;
}
