.search_input {
	display: flex;
	flex: 1 1 auto;
	border-radius: var(--border-radius);
	overflow: hidden;
	max-width: 64rem;

	& input,
	select {
		height: 3.2rem;
		background-color: var(--background-secondary);
	}

	& select {
		border: var(--border-primary);
		border-top-left-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);
	}

	& input {
		border: var(--border-primary);
		border-right: none;
		border-left: none;
		width: 100%;
		min-width: 0;
		padding: .8rem;
	}
}

.search_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.2rem;
	flex: 0 0 3.2rem;
	border: none;
	background-color: var(--primary-btn);
	color: var(--white);
	font-size: 2rem;
}
