.container {
}

.form {
	max-width: 64rem;
	background-color: var(--white);
	border-top: 8px solid var(--primary500);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	padding: 4.8rem 6.4rem;
	margin: 0 auto;
}
