@import '../../../styles/mixins.scss';

.container {
}

.form {
	max-width: 64rem;
	@include panel;
}

.form_body {
	border-top: none;
	padding: 4.8rem 5.6rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
