@import '../../../styles/mixins.scss';

.container {
}

.form {
	max-width: 64rem;
}

.form_body {
	@include panel;
	border-top: none;
	padding: 5.6rem 6.4rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
