.tag {
	height: 2.4rem;
	display: flex;
	align-items: center;
	background-color: var(--background-tertiary);
	border: var(--border-primary);
	border-radius: var(--border-radius);
	padding: 0 .8rem;
	font-size: 1.2rem;
	line-height: 1.4rem;

	& svg {
		color: var(--red-error);
		height: 100%;
		margin-left: .4rem;
		font-size: 1.6rem;
	}
}
