.tag {
	display: flex;
	align-items: center;
	background-color: var(--background-tertiary);
	border: var(--border-primary);
	border-radius: var(--border-radius);
	padding: .4rem .8rem;

	& svg {
		color: var(--red-error);
		height: 100%;
		margin-left: .4rem;
		font-size: 1.6rem;
	}
}
