@import '../../../../styles/mixins.scss';
@import '../../../../styles/mediaQueries.scss';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// @include panel;

	width: 10.4rem;
	height: 10.4rem;

	@include respondH(1680) {
		width: 8rem;
		height: 8rem;
	}

	@include respondH(1280) {
		width: 9.6rem;
		height: 9.6rem;
	}

	@include respondH(680) {
		width: 8.8rem;
		height: 8.8rem;
	}

	@include respondH(550) {
		width: 8rem;
		height: 8rem;
	}
}

.container_max {
	@extend .container;
	border: 2px solid var(--primary400);
	border-radius: var(--border-radius);
}

.month {
	font-weight: 600;
	font-size: 1.4rem;
	margin-bottom: .8rem;
}

.total {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 2.8rem;

	@include respondH(550) {
		font-size: 1.4rem;
	}
}
