@import '../../../../styles/mixins.scss';
@import '../../../../styles/mediaQueries.scss';

.container {
	display: flex;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 8.8rem);
	// border: var(--border-primary);

	@include respondH(1680) {
		grid-template-columns: repeat(12, 8rem);
	}

	@include respondH(1280) {
		grid-template-columns: repeat(4, 8.8rem);
		border-bottom: var(--border-primary);
		border-right: var(--border-primary);
	}

	@include respondH(680) {
		grid-template-columns: repeat(4, 8rem);
	}

	@include respondH(350) {
		grid-template-columns: repeat(4, 6.4rem);
	}
}
