@import '../../../../styles/mixins.scss';
@import '../../../../styles/mediaQueries.scss';

.container {
	display: flex;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 9.6rem);
	@include panel;

	@include respondH(1680) {
		grid-template-columns: repeat(12, 8rem);
	}

	@include respondH(1280) {
		grid-template-columns: repeat(4, 9.6rem);
	}

	@include respondH(680) {
		grid-template-columns: repeat(4, 8.8rem);
	}

	@include respondH(550) {
		grid-template-columns: repeat(4, 1fr);
	}
}
