@import '../../../../styles/mediaQueries.scss';

.container {
	display: flex;
	justify-content: center;
	background-color: var(--background-secondary);
	padding: 1.6rem;

	@include respondH(550) {
		margin-left: calc(var(--app-horizontal-padding) * -1);
		margin-right: calc(var(--app-horizontal-padding) * -1);
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 8rem);
	grid-gap: .8rem;

	@include respondH(1680) {
		grid-template-columns: repeat(6, 8rem);
	}

	@include respondH(550) {
		grid-template-columns: repeat(4, 6.4rem);
	}
}
