@import '../../../styles/mediaQueries.scss';

.drawer {
	position: relative;
	background-color: var(--background-primary);
	flex: 0 0 var(--app-drawer-width);
	padding: 4rem 1.6rem;
	border-right: var(--border-primary);
	display: flex;
	flex-direction: column;
	z-index: 1;
	transform: translateX(0);
	transition: width .2s, transform .2s;

	@include respondH(1024) {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: var(--app-drawer-width);
		min-height: 64rem;
		overflow: hidden;
	}

	@include respondH(550) {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		min-height: 64rem;
		overflow: hidden;
	}
}

.drawer_closed {
	transform: translateX(-100%);
	width: 0;
	visibility: hidden;
	overflow: hidden;
}

.btn_container {
	margin-top: 4.8rem;
	margin-bottom: 4rem;
	font-size: 1.4rem;

	& img {
		display: block;
		width: 12rem;
		margin: 0 auto;
		margin-bottom: 8rem;
	}
}

.nav_links {
	list-style-type: none;
	width: 100%;
}

.nav {
	flex: 1 1 auto;

	& ul:first-of-type {
		margin-bottom: 8rem;
	}
}

.create_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary500);
	color: var(--white);
	width: 100%;
	border-radius: var(--border-radius);
	height: 4.8rem;
	margin: 2.4rem 0 4rem 0;
	text-align: center;
	font-size: 1.6rem;
	line-height: 4.8rem;

	&:hover {
		background-color: var(--primary400);
		color: var(--white);
	}
}

.create_icon {
	margin-left: -2.6rem;
	margin-right: .8rem;
	width: 1.3rem;
	height: 1.3rem;
}

.drawer_icon {
	font-size: 1.8rem;
	margin-right: .8rem;
	color: var(--text500);
}
