@import '../../../../styles/mixins.scss';

.container {
	@include panel;
	position: relative;
}

.empty_list {
	display: inline-block;
	padding: 1.2rem 1.6rem;
	line-height: 2rem;
}

.pagination_container {
	min-height: 4rem;
	margin-bottom: -4rem;

	@include respondH(550) {
		margin-bottom: -3.2rem;
	}
}
