@import '../../../../styles/mediaQueries.scss';

.btn_container {
	& button {
		width: 100%;
		text-align: left;
		outline: none;
	}
}

.btn_container_show_mobile {
	@extend .btn_container;
}

.btn_container_hide_mobile {
	@extend .btn_container;

	@include respondH(680) {
		display: none;
	}
}
