@import '../../../../styles/mixins.scss';

.container {
	display: grid;
	grid-template-columns: 10.4rem auto 12rem 6.4rem;
	grid-gap: 1.6rem;
	padding: 1.6rem;
	line-height: 1.6rem;
	cursor: pointer;

	&:not(:last-of-type) {
		border-bottom: var(--border-primary);
	}
}

.title {
	font-weight: 400;
	color: var(--text400);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.time {
	text-align: right;
	color: var(--text300);
}
.date {
	color: var(--text300);
}

.pinned {
	margin-left: auto;
	& svg {
		display: flex;
	}
}
