.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
}

.icon {
	font-size: 2.2rem;
	color: var(--text200);

	&:hover {
		color: var(--primary400);
	}
}
