@import '../../../../styles/mediaQueries.scss';

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 500;
	color: var(--text300);
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
	width: 3.2rem;
	font-size: 1.8rem;
	line-height: 1.8rem;
}
