@import '../../../../styles/mixins.scss';

.container {
	@include panel;
	margin-bottom: .4rem;
	display: grid;
	grid-template-columns: 2fr .5fr .75fr .5fr;
	padding: 1.6rem 1.6rem;
	line-height: 1.6rem;
	cursor: pointer;
}

.title {
	font-weight: 500;
	color: var(--text300);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.time,
.date {
	text-align: right;
	color: var(--text300);
}

.pinned {
	margin-left: auto;
	& svg {
		display: flex;
	}
}
