@import '../../../../styles/mixins.scss';
@import '../../../../styles/mediaQueries.scss';

.container {
	display: grid;
	grid-template-columns: var(--list-grid);
	grid-gap: .8rem;
	padding: 1.6rem;
	line-height: 1.6rem;
	cursor: pointer;

	&:not(:last-of-type) {
		border-bottom: var(--border-primary);
	}
}

.title {
	font-weight: 400;
	color: var(--text500);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.stat {
	color: var(--text300);
	font-size: 1.2rem;
	font-weight: 500;
}

.date {
	@extend .stat;
}

.time {
	@extend .stat;
	text-align: right;

	@include respondH(680) {
		display: none;
	}
}

.number {
	@extend .stat;
	text-align: right;

	@include respondH(680) {
		display: none;
	}
}

.pinned {
	margin-left: auto;
	& svg {
		display: flex;
	}
}
