.link {
	height: 4rem;
	margin-bottom: .8rem;
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 1.6rem;
	font-size: 1.4rem;
	color: var(--text400);
	border: none;
	background: transparent;
	font-weight: 500;
	border-radius: var(--border-radius);

	&:hover {
		background-color: var(--background-tertiary);
		color: var(--text00);
		font-weight: 500;
	}
}

.active {
	@extend .link;
	position: relative;
	background-color: var(--background-tertiary);
	color: var(--primary-text);

	&:hover {
		background-color: var(--background-tertiary);
		color: var(--primary-text);
		font-weight: 500;
	}

	& svg {
		color: var(--primary-text);
	}
}

.inactive {
	@extend .link;
}
