.link {
	height: 4rem;
	margin-bottom: .8rem;
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 1.6rem;
	font-size: 1.4rem;
	color: var(--text300);
	border: none;
	background: none;
	font-weight: 500;

	&:hover {
		background-color: var(--background-tertiary);
		color: var(--text300);
	}
}

.active {
	@extend .link;
	position: relative;
	background-color: var(--background-tertiary);
	color: var(--text300);
	border-radius: var(--border-radius);
}

.inactive {
	@extend .link;
}
