.dark_mode_toggle {
	display: flex;
	align-items: center;

	& label {
		margin: 0 .8rem;
	}
}

.dark_mode_btn {
	background-color: transparent;
	color: var(--text500);
	border: none;
	height: 2.4rem;
	margin-top: -.6rem;
}
