@import '../../../styles/mixins.scss';

.container {
	margin-top: 4rem;
	max-width: 40rem;
	padding: 1.6rem;
	@include panel;

	& button {
		max-width: 16rem;
		margin-left: auto;
	}
}

.success {
	color: var(--green-success);
	font-weight: 500;
}
