.breadcrumb {
	& ul {
		display: flex;
	}

	& a {
		color: var(--black200);

		&:hover {
			color: var(--secondary500);
		}
	}
}

.spacer {
	margin: 0 1.6rem;
	color: var(--gray400);
	font-weight: 500;
}
