@import '../../../../styles/mixins.scss';

.container {
	display: flex;
	width: 100%;
	border-top-right-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);
	overflow: hidden;
}

.btn {
	height: 4.8rem;
	background-color: var(--background-tertiary);
	border: none;
	width: 33.33%;
	color: var(--text200);
	border-bottom: var(--border-primary);

	&:not(:last-of-type) {
		border-right: var(--border-primary);
	}
}

.btn_active {
	@extend .btn;
	background-color: var(--background-primary);
	color: var(--text500);
	border: none;
	box-shadow: var(--box-shadow);
}
