@import '../../../styles/mediaQueries.scss';

.hero {
	display: flex;
	justify-content: space-between;
	margin-top: 16rem;

	@include respondH(1440) {
		margin-top: 12rem;
	}

	@include respondH(1400) {
		margin-top: 8rem;
	}

	@include respondH(768) {
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 1.6rem;
	}
}

.hero_text {
	max-width: 44rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 0 0 auto;

	@include respondH(960) {
		max-width: 38rem;
	}
}

.hero_img {
	flex: 0 1 auto;

	@include respondH(768) {
		margin-bottom: 1.6rem;
	}

	& img {
		width: 100%;
		max-width: 57.6rem;
	}
}

.arrow_container {
	position: relative;
	height: 24rem;

	@include respondH(768) {
		height: 20rem;
	}

	@include respondH(550) {
		height: 18.4rem;
	}
}

.arrow {
	position: absolute;
	right: 16rem;
	top: 50%;
	transform: translateY(-50%);

	@include respondH(768) {
		left: 50%;
		transform: translateY(-50%) translateX(-50%) scale(.8);
	}
}
