@import '../../../../styles/mediaQueries.scss';
@import '../../../../styles/mixins.scss';

.container {
	@include fullWidth;
	background-color: var(--background-secondary);
	padding: .8rem 8rem;
	display: flex;

	@include respondH(1280) {
		padding: .8rem 4rem;
	}

	@include respondH(680) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: .8rem;
	}

	@include respondH(550) {
		padding: .8rem 1.6rem;
	}
}
