@import '../../../../styles/mediaQueries.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7.2rem;
	background-color: var(--background-primary);
	padding: 2.4rem;

	@include respondH(550) {
		padding: 1.6rem 2.4rem;
	}

	& img {
		width: 14rem;

		@include respondH(1024) {
			width: 12.8rem;
		}
	}
}
