@import '../../styles/mediaQueries.scss';

.logo {
	margin-bottom: 6.4rem;
	align-self: flex-start;

	@include respondH(1024) {
		display: none;
	}
}

.header {
	& h5 {
		margin-bottom: 5.6rem;
		color: var(--gray400);
		font-weight: 400;

		@include respondH(1024) {
			margin-bottom: 4rem;
		}
	}
}

.reset_password {
	text-align: right;
	margin-bottom: 5.6rem;

	@include respondH(1024) {
		margin-bottom: 4.8rem;
	}
}
