@import '../../styles/mediaQueries.scss';

.app_layout {
	position: relative;
	font-size: 1.4rem;
	max-width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main_container {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	background-color: var(--background-secondary);

	@include respondH(550) {
		min-height: 64rem;
	}
}

.nav_container {
	margin: 4rem 0;
}

.main {
	max-width: 100%;
	padding: 0 8rem 8rem 8rem;
	flex: 1 1 auto;

	@include respondH(550) {
		padding-top: 6.4rem;
	}
}

.wrapper {
	width: 100%;
	max-width: 144rem;
	padding-right: 8rem;
	border-right: var(--border-primary);
}
