@import '../../styles/mediaQueries.scss';

.app_layout {
	position: relative;
	font-size: 1.4rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main_container {
	position: relative;
	display: flex;
	flex: 1 1 auto;

	@include respondH(550) {
		min-height: 64rem;
	}
}

.main {
	padding: 4rem;
	flex: 1 1 auto;
	background-color: var(--gray100);

	@include respondH(550) {
		padding-top: 6.4rem;
	}
}
