@import '../../styles/mediaQueries.scss';

.container {
	display: none;

	@include respondH(550) {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		bottom: 2.4rem;
		right: 2.4rem;
		height: 4.8rem;
		width: 4.8rem;
		border: none;
		background-color: var(--primary500);
		border-radius: 50%;
		box-shadow: var(--box-shadow);
	}
}

.button {
	display: block;
	text-align: center;
	color: var(--white);
	font-size: 2rem;
}
