.icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin: 0 .8rem;
}

.project {
	@extend .icon;
	background-color: var(--project);
}

.task {
	@extend .icon;
	background-color: var(--task);
}

.note {
	@extend .icon;
	background-color: var(--note);
}

.time {
	@extend .icon;
	background-color: var(--time);
}

.generic {
	@extend .icon;
	background-color: var(--gray500);
}
