@import '../../../../styles/mediaQueries.scss';
@import '../../../../styles/mixins.scss';

.container {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 102.4rem;
	min-height: 68rem;
	@include panel;
	padding: 2.4rem;

	@include respondH(1024) {
		flex-direction: column-reverse;
		max-width: 52rem;
	}

	@include respondH(550) {
		flex-direction: column-reverse;
		max-width: 100%;
		border: none;
		box-shadow: none;
		padding: 2.4rem;
		margin-top: 2.4rem;
		margin-bottom: 8rem;
		min-height: 56rem;
	}

	& input {
		height: 4rem;
	}
}

.form_container {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	padding: 4rem;
	padding-bottom: 2.4rem;
	padding-right: 6.4rem;

	@include respondH(1024) {
		padding: 0;
	}
}

.logo {
	height: 4rem;
	margin-bottom: 4rem;
	align-self: flex-start;

	@include respondH(1024) {
		position: absolute;
		height: 4rem;
		left: 2.4rem;
		top: 2.4rem;
	}

	@include respondH(550) {
		display: none;
	}
}

.image {
	flex: 1 1 50%;
	background: url('/images/login.jpg');
	background-size: cover;

	@include respondH(1024) {
		flex: 0 0 auto;
		height: 28rem;
		background: url('/images/login-tablet.jpg');
		background-size: cover;
		background-position: top center;
		margin-bottom: 2.4rem;
	}

	@include respondH(550) {
		display: none;
	}

	& img {
		display: block;
		width: 100%;
		object-fit: cover;

		@include respondH(1024) {
			height: 36rem;
			object-position: 60% center;
		}
	}
}
