@import '../../../../styles/mediaQueries.scss';

.btn_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.6rem;
	width: 100%;
	margin-bottom: 1.6rem;
	margin-top: 4rem;

	@include respondH(550) {
		margin-top: 3.2rem;
		display: flex;
		grid-gap: 0;
		flex-direction: column-reverse;
	}

	& button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
	}

	& button:not(:first-of-type) {
		@include respondH(550) {
			margin-bottom: 1.6rem;
		}
	}
}
