@import '../../../styles/mediaQueries.scss';
@import '../../../styles/mixins.scss';

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	padding: 1.6rem;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	z-index: 200;
	color: var(--text500);

	@include respondH(550) {
		padding: .8rem;
	}

	&_container {
		width: 100%;
		max-width: 52rem;
		position: relative;
		@include panel;
		padding: 3.6rem 4rem;
		z-index: 300;

		@include respondH(550) {
			max-width: 32rem;
			padding: 2.4rem;
		}
	}

	&_bg {
		position: fixed;
		top: 0;
		left: 0;
		min-height: 100%;
		width: 100%;
		z-index: 201;
		background-color: rgba(0, 0, 0, .75);
	}

	&_close {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3.2rem;
		width: 3.2rem;
		background: transparent;
		border: none;
		font-size: 3.2rem;
		line-height: 3.2rem;
		position: absolute;
		top: 2.4rem;
		right: 2.4rem;
	}
}
