.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: var(--footer-height);
	padding: 2.4rem;
	background-color: var(--background-tertiary);
	color: var(--text400);
}
