.footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	height: var(--footer-height);
	padding: 1.6rem 2.4rem;
	background-color: var(--background-tertiary);
	color: var(--text200);
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 500;

	& img {
		width: 16rem;
		margin: .8rem 0;
	}
}
