.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: var(--footer-height);
	padding: 2.4rem;
	background-color: var(--background-tertiary);
	color: var(--text200);
	font-size: 1.2rem;
	line-height: 1.2rem;
	font-weight: 500;

	& img {
		width: 16rem;
		margin-bottom: 2.4rem;
	}

	& a {
		color: var(--text200);

		&:hover {
			color: var(--primary500);
		}
	}
}
