:root {
	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Crimson Pro', serif;
	--font-mono: 'Inconsolata', monospace;

	--gray100: hsl(167, 5%, 97%);
	--gray200: hsl(167, 5%, 90%);
	--gray300: hsl(167, 5%, 85%);
	--gray400: hsl(167, 5%, 50%);
	--gray500: hsl(167, 10%, 40%);

	--black200: hsl(167, 10%, 20%);
	--black100: hsl(167, 10%, 30%);
	--white: hsl(167, 10%, 100%);

	--primary100: hsl(167, 75%, 85%);
	--primary200: hsl(167, 75%, 75%);
	--primary300: hsl(167, 75%, 55%);
	--primary400: hsl(167, 90%, 40%);
	--primary500: hsl(167, 90%, 27%);

	--secondary100: hsl(50, 100%, 85%);
	--secondary200: hsl(50, 100%, 75%);
	--secondary300: hsl(50, 100%, 65%);
	--secondary400: hsl(50, 100%, 55%);
	--secondary500: hsl(50, 100%, 42%);

	--red-error: hsl(360, 80%, 65%);
	--green-success: hsl(119, 65%, 65%);

	--box-shadow: 0px 2px 6px hsla(0, 100%, 0%, 5%);
	--box-shadow-wide: 0px 2px 20px hsla(0, 100%, 0%, 10%);
	--border-radius: 2px;

	--project: hsl(340, 70%, 55%);
	--task: hsl(250, 65%, 55%);
	--note: var(--secondary400);
	--time: var(--primary500);

	--app-drawer-width: 24rem;
	--app-header-height: 6.4rem;
	--footer-height: 16rem;
}

body {
	background-color: var(--white);
	color: var(--black200);
}

a {
	color: var(--primary500);
	font-weight: 500;
}

a:hover,
a.link-gray:hover {
	color: var(--secondary500);
}

a.link-gray {
	color: var(--gray500);
	font-size: 1.4rem;
}

button,
input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

button {
	cursor: pointer;
}

button.btn-link {
	color: var(--primary500);
	background: none;
	border: none;
}

button.btn-link:hover {
	color: var(--secondary500);
}

select {
	padding: 0 .4rem;
}
