:root {
	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Crimson Pro', serif;
	--font-mono: 'Inconsolata', monospace;

	--gray50: hsl(167, 5%, 98%);
	--gray100: hsl(167, 5%, 95%);
	--gray200: hsl(167, 5%, 90%);
	--gray300: hsl(167, 5%, 75%);
	--gray400: hsl(167, 5%, 45%);
	--gray500: hsl(167, 5%, 40%);

	--black200: hsl(167, 5%, 20%);
	--black100: hsl(167, 5%, 25%);
	--white: hsl(167, 10%, 100%);

	--primary100: hsl(167, 60%, 85%);
	--primary200: hsl(167, 65%, 65%);
	--primary300: hsl(167, 65%, 55%);
	--primary400: hsl(167, 85%, 35%);
	--primary500: hsl(167, 90%, 27%);

	--secondary100: hsl(50, 100%, 85%);
	--secondary200: hsl(50, 100%, 75%);
	--secondary300: hsl(50, 100%, 65%);
	--secondary400: hsl(50, 100%, 55%);
	--secondary500: hsl(50, 100%, 42%);

	--red-error: hsl(0, 65%, 54%);
	--green-success: hsl(121, 100%, 27%);

	--box-shadow: 0px 2px 4px 0px hsla(167, 10%, 10%, 12%);
	--box-shadow-wide: 0px 2px 10px hsla(167, 10%, 10%, 15%);
	--border-radius: 4px;

	--background-primary: var(--white);
	--background-secondary: var(--gray50);
	--background-tertiary: var(--gray100);
	--border-primary: 1px solid var(--gray200);
	--text500: var(--black200);
	--text400: var(--black100);
	--text300: var(--gray500);
	--text200: var(--gray400);

	--project: hsl(340, 70%, 55%);
	--task: hsl(250, 65%, 55%);
	--note: var(--secondary400);
	--time: var(--primary500);

	--app-drawer-width: 24rem;
	--app-header-height: 6.4rem;
	--footer-height: 16rem;
}

body.dark {
	--gray500: hsl(167, 5%, 30%);
	--gray400: hsl(167, 5%, 28%);
	--background-primary: var(--black200);
	--background-secondary: var(--black100);
	--background-tertiary: var(--gray500);
	--border-primary: 1px solid var(--gray400);
	--text500: var(--white);
	--text400: var(--white);
	--text300: var(--gray50);
	--text200: var(--gray100);

	color: var(--white);
}

body {
	background-color: var(--background-primary);
	color: var(--text500);
}

a {
	color: var(--primary500);
	font-weight: 500;
}

a.link-gray {
	color: var(--text300);
	font-weight: 500;
	font-size: 1.4rem;
}

a:hover,
a.link-gray:hover {
	color: var(--primary400);
	font-weight: 500;
}

button,
input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	color: var(--text300);
}

button {
	cursor: pointer;
}

button.btn-link {
	color: var(--primary500);
	background: none;
	border: none;
}

button.btn-link:hover {
	color: var(--primary400);
}

select {
	padding: 0 .4rem;
}
