@mixin panel {
	background-color: var(--background-primary);
	border-radius: var(--border-radius);
	border: var(--border-primary);
	box-shadow: var(--box-shadow);
}

@mixin fullWidth {
	width: calc(100% + 16rem);
	margin-left: -8rem;
	margin-right: -8rem;
}
