@import './mediaQueries.scss';

@mixin panel {
	background-color: var(--background-primary);
	border-radius: var(--border-radius);
	border: var(--border-primary);
	box-shadow: var(--box-shadow);
}

@mixin fullWidth {
	--paddingOffset: calc(var(--app-horizontal-padding) * 2);
	--width: calc(100% + var(--paddingOffset));
	width: var(--width);
	margin-left: calc(var(--app-horizontal-padding) * -1);
	margin-right: calc(var(--app-horizontal-padding) * -1);
}
