@import './mediaQueries.scss';

body {
	font-family: var(--font-sans);
	font-size: 1.4rem;
	line-height: 2.4rem;
	// font-feature-settings: 'ss01' 1;
	font-variant-numeric: tabular-nums;

	@include respondH(550) {
		font-size: 1.4rem;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 600;
	line-height: 1.1;
}

h1 {
	font-size: 2.8rem;
	margin-bottom: 1.6rem;

	@include respondH(550) {
		font-size: 2.4rem;
	}
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 2.2rem;
	margin-bottom: .8rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.4rem;
	font-weight: 500;
}
