@import '../../../styles/mixins.scss';

.card {
	height: 28rem;
	flex: 0 0 24rem;
	padding: 1.6rem;
	@include panel;
	cursor: pointer;

	&:not(:last-of-type) {
		margin-right: 2.4rem;
	}
}

.title {
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--text500);
	display: flex;
	align-items: center;
	margin-bottom: 1.6rem;
}

.hours {
	font-weight: 700;
	color: var(--text500);
}

.time {
	display: flex;
	justify-content: space-between;
	font-size: 1.4rem;
	color: var(--text300);
	margin-bottom: .8rem;
	font-weight: 400;
}

.body {
	color: var(--text500);
	margin-bottom: 1.6rem;
	line-height: 1.7;
}

.stats {
	margin-bottom: .4rem;
	display: flex;
	justify-content: space-between;
	color: var(--text300);
	font-weight: 400;
}
