@import '../../../styles/mixins.scss';

.card {
	width: 24rem;
	padding: 1.6rem;
	@include panel;
	cursor: pointer;

	&:not(:last-of-type) {
		margin-right: 2.4rem;
	}
}

.header {
	color: var(--text300);
	font-weight: 600;
	margin-bottom: .4rem;
}

.stat {
	font-size: 3.6rem;
	line-height: 1;
	font-weight: 600;
	text-align: right;
	margin-bottom: .8rem;
	font-feature-settings: inherit;
	font-variant-numeric: inherit;
	color: var(--text400);
}

.link {
	text-align: right;

	& a {
		color: var(--text200);
		font-weight: 500;
	}
}
