.header {
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	color: var(--text400);
	margin-bottom: 1.6rem;
	font-weight: 500;

	& svg {
		margin-right: .4rem;
		color: var(--text300);
		font-size: 1.6rem;
	}
}
