@import '../../../styles/mediaQueries.scss';

.container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: .8rem;
}

.btn_container {
	display: flex;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
	border: 1px solid var(--background-primary);
	background: none;
	padding: 0 .8rem;
	height: 2.4rem;
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--text200);

	&:hover {
		background-color: var(--primary-text);
		border: 1px solid var(--primary-text);
		color: var(--white);
	}
}

.btn_selected {
	@extend .btn;
	color: var(--primary-text);
	border: var(--border-primary);
}
